---
import GitHub from "./icons/GitHub.astro"
import WhatsApp from "./icons/WhatsApp.astro"
import NextJS from "./icons/NextJS.astro"
import Tailwind from "./icons/Tailwind.astro"
import Django from "./icons/Django.astro"
import jQuery from "./icons/JQuery.astro"
import Javascript from "./icons/Javascript.astro"
import Bootstrap from "./icons/Bootstrap.astro"
import AstroIc from "./icons/AstroIcon.astro"
import Link from "./icons/Link.astro"
import LinkButton from "./LinkButton.astro"

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  DJANGO: {
    name: "Django",
    class: "bg-[#092E20] text-white",
    icon: Django,
  },
  ASTRO: {
    name: "Astro",
    class: "bg-[#BC52EE] text-white",
    icon: AstroIc,
  },
  BOOTSTRAP: {
    name: "Bootstrap",
    class: "bg-[#7952B3] text-white",
    icon: Bootstrap,
  },
  JQUERY: {
    name: "jQuery",
    class: "bg-[#0769AD] text-white",
    icon: jQuery,
  },
  JAVASCRIPT: {
    name: "JavaScript",
    class: "bg-[#1c1c2f] text-white",
    icon: Javascript,
  },
}
const PROJECTS = [
  {
    title: "Fabrica de encuestas",
    description:
      "Gestión del proyecto fabrica de encuestas, para el area de comunicaciones del SENA CGMLTI (In house 52). Desarrollo de una aplicación web, realizando un sistema de encuestas con interfaz pública y privada, 2 roles (admin y user), gestión de usuarios y encuestas, con respuesta de tipo pública y privada, desarrollada en python con django apps. Realización de la documentación del proyecto, pruebas de aceptación, presentación y despliegue en data center.",
    link: "https://django-appencuestas.onrender.com/",
    github: "https://github.com/CesarSierra1997/DjangoProject-FabricadeEncuestas",
    image: "/projects/app_encuestas.png",
    tags: [TAGS.DJANGO, TAGS.BOOTSTRAP, TAGS.JQUERY],
  },
  {
    title: "Chatbot whatsapp",
    description:
      "Desarrollo de chats bots para whatsapp, mensajes automaticos, menu de negocio perzonalizable, simulador de escritura para mejorar el bot, integración para envio de archivos: pdf, excel, word, jpg, png, video y audio",
    whatsapp: "https://github.com/CesarSierra1997/DjangoProject-FabricadeEncuestas",
    image: "/projects/chatbot.png",
    tags: [TAGS.JAVASCRIPT],
  },
  {
    title: "Portafolio web",
    description:
      "Portafolio web desarrollado con Astro y Tailwind CSS.",
    github: "https://github.com/CesarSierra1997/DjangoProject-FabricadeEncuestas",
    image: "/projects/portafolio_web.png",
    tags: [TAGS.ASTRO, TAGS.TAILWIND],
  },
]
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github, whatsapp }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
  <div class="w-full md:w-1/2">
    <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
      <img alt="Proyectos"   loading="lazy" src={image} />
      
    </div>
  </div>

  <div class="w-full md:w-1/2 md:max-w-lg">
    <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
      {title}
    </h3>
    <div class="flex flex-wrap mt-2">
      <ul class="flex flex-row mb-2 gap-x-2">
          {tags.map((tag) => (
            <li>
              <span
                class={`flex gap-x-1 rounded-full text-xs ${tag.class} py-1 px-2 `}
              >
                <tag.icon class="size-4" />
                {tag.name}
              </span>
            </li>
          ))}
        </ul>

      <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
      <footer class="flex items-end justify-start mt-4 gap-x-4">
          {github && (
            <LinkButton href={github}>
              <GitHub class="size-6" />
              Code
              
            </LinkButton>
          )}
          {link && (
            <LinkButton href={link}>
              <Link class="size-4" />
              Preview
            </LinkButton>
          )}
          {whatsapp && (
            <LinkButton href={whatsapp}>
              <WhatsApp class="size-5" />
              Whatsapp
              
            </LinkButton>
          )}
        </footer>
    </div>
  </div>
</article>
    ))
  }
</div>



